@(inputform:Form[User])(implicit messages: Messages)


@import helper._
<style>
div.header {
    color: blue;
    margin: 20px 0 20px 0;
    padding: 20px;
    width: 100vw;
    text-align: center;

}
div.inputBox{
    width: 100vw;
    text-align: center;
    margin: 0 0 5vh 0;
}
#Name_field{
    width: 100vw;
    margin: 0 0 1vh 45vw;
}
#Email_field{
    width: 100vw;
    margin: 0 0 1vh 45vw;
}
dd {
    margin: 0 0 0 0;
    }
div.submitInput{
    margin: 0 0 0 50vw;
}

</style>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <div class="header"><h1>Orange Bus Application</h1></div>

    @form(action=routes.homePage.createUser()) {
    @inputText(inputform("Name"))
    @inputText(inputform("Email"))
    <div class="submitInput">
    <input type="submit" value="Submit">
    </div>

    }
</head>
<body>

</body>
</html>