
<!DOCTYPE html>
<html lang="en">
<style>
div.header {
    color: blue;
    margin: 20px 0 20px 0;
    padding: 20px;
    width: 100vw;
    text-align: center;

}
div.inputBox{
    width: 100vw;
    text-align: center;
    margin: 0 0 5vh 0;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="header"><h1>Orange Bus Application</h1></div>
    <div class="inputBox">  Name:<br>
        <input type="text" name="Name"><br></div>
    <div class="inputBox">  Email Address:<br>
        <input type="text" name="Email Address"><br></div>
</head>
<body>

</body>
</html>